html
  { padding: 0 2em; }

body
  { color: #222;
    background: #fafafa;
    font-size: 80%;
    min-width: 300px;
    font-family: 'Lucida Grande', Verdana, sans-serif;
    padding: 1em 2em;
    margin: auto;
    max-width: 800px;
    border: 1px solid #d5d8db; 
    border-top: none; border-bottom: none; }

body h1,
body h2,
body h3,
body h4,
body h5
  { font-family: 'Helvetica', 'Arial', sans-serif; }

body h1
  { color: #fff;
    background: #404142;
    font-size: 160%;
    padding: 0.4em 1.4em 0.3em 1.4em;
    margin: 2em -1em 0 -1em; }

body h2
  { margin: 1.2em 0 0.2em 0; }

body h3
  { margin: 0.8em 0 0.1em 0; }

body h4,
body h5
  { margin: 0.4em 0 0.05em 0; }

body code
  { color: #444; 
    font-size: 120%; }
body pre  
  { white-space: pre-wrap; white-space: -moz-pre-wrap !important;
    padding: 1em;
    border: 4px solid #dfe2e5; }

body a
  { color: #1177DD;
    text-decoration: none; }
body a:hover 
  { text-decoration: underline; }

body p
  { margin: 0 0 1em 0; }

body hr
  { display: none; }
  
/* TOC */
.maruku_toc ul { font-weight: bold; padding: 0em; }
.maruku_toc ul ul { font-weight: normal; padding: 0em 0 0.5em 1em; }
.maruku_toc ul ul ul { font-weight: normal; padding: 0em 0 0.25em 0.5em; }
.maruku_toc ul ul ul ul { font-weight: normal; padding: 0em 0 0.1em 0.25em; }